name: Verify Stability

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  basic:
    strategy:
      fail-fast: false
      matrix:
        case:
          - common-libs
          - esbuild-three
          - rome
        scenario:
          - development-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: yarn-${{ matrix.case }}-${{ github.event.inputs.base }}
          restore-keys: |
            yarn-${{ matrix.case }}-
            yarn-
      - uses: nick-invision/retry@v2.4.0
        with:
          max_attempts: 3
          timeout_minutes: 5
          command: yarn
      - uses: nick-invision/retry@v2.4.0
        with:
          max_attempts: 3
          timeout_minutes: 25
          command: node bin/compare.js ${{ matrix.case }} ${{ matrix.scenario }}
      - uses: actions/upload-artifact@v2
        with:
          name: compare-results
          path: output

  complete:
    needs: [basic]
    strategy:
      fail-fast: false
      matrix:
        case:
          - common-libs
          - esbuild-three
          - rome
        scenario:
          - development-build
          - development-build+persistent-cache
          - development-rebuild
          - production-build
          - production-build+source-map
          - production-build+no-minimize
          - production-build+persistent-cache
          - production-build+initial-persistent-cache
          - production-build+source-map+persistent-cache
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: yarn-${{ matrix.case }}-${{ github.event.inputs.base }}
          restore-keys: |
            yarn-${{ matrix.case }}-
            yarn-
      - uses: nick-invision/retry@v2.4.0
        with:
          max_attempts: 3
          timeout_minutes: 5
          command: yarn
      - uses: nick-invision/retry@v2.4.0
        with:
          max_attempts: 3
          timeout_minutes: 25
          command: node bin/compare.js ${{ matrix.case }} ${{ matrix.scenario }}
      - uses: actions/upload-artifact@v2
        with:
          name: compare-results
          path: output

  report:
    needs: [basic, complete]
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: yarn-report-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn-report-
            yarn-
      - uses: nick-invision/retry@v2.4.0
        with:
          max_attempts: 3
          timeout_minutes: 5
          command: yarn
      - uses: actions/download-artifact@v2
        with:
          name: compare-results
          path: output
      - run: node bin/report.js
